@import './variables.scss';

@mixin orizontalMenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin d-flex ( $just, $align ){
    display: flex;
    flex-wrap: wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin btn ($bg-color , $tx-color , $border-color){
        background-color: $bg-color;
        padding: 10px 15px;
        border: 1px solid $border-color;
        border-radius: 5px;

        a{
            color: $tx-color;
            text-decoration: none;
            font-weight: bold;
        }
}

@mixin black_filter {
    background-color: #000;
    height: 100%;
    width: 100%;
    filter: opacity(20%);
    border-radius: 5px;
}